@charset "UTF-8";
section{
    padding-top: 110px;
    overflow-x: hidden;
    min-height: 85vh;
}
#contain{
    padding: 3% 20% 10%;
}
#category{
    color: rgb(16, 15, 80);
    letter-spacing: 1.5px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
#main{
    border: 2px solid rgb(16, 15, 80);
    padding: 50px 70px 40px;
}
#idWrap, #pwWrap{
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#idWrap{
    border-radius: 15px 15px 0 0;
    margin-bottom: 15px;
}
input:focus{
	outline: none;
}
#username{
    font-size: 20px;
    font-family: 'HANAMDAUM';
    border: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: rgb(16, 15, 80);
}
#pwWrap p{
	text-align: center;
}
.inp{
    margin-bottom: 7px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    font-family: 'HANAMDAUM';
}
#bottomRow{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 3px;
}
#submitBtn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(16, 15, 80);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    font-family: 'HANAMDAUM';
    cursor: pointer;
    font-size: 15px;
}
.red{
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 5px;
	color: crimson;
}

@media screen and (max-width: 1080px) {
	#contain{
    	padding: 5% 10%;
	}
	#main{
	    padding: 40px 35px;
	}
}
@media screen and (max-width: 480px) {
    #contain{
    	padding: 2.5% 5%;
	}
    #main{
    	padding: 20px 15px;
    }
    #idWrap, #pwWrap{
	    padding: 10px;
	}
	#idWrap{
	    margin-bottom: 10px;
}
    #username{
	    font-size: 15px;
	}
	#pwWrap p{
		font-size: 12px;
	}
	.inp{
	    margin-bottom: 5px;
	    padding: 7px;
	    border-radius: 20px;
	    font-size: 12px;
	}
	#bottomRow{
	    margin-top: 20px;
	}
	#submitBtn{
	    padding: 7px;
	    font-size: 12px;
	}
	.red{
		font-size: 10px;
	    margin-bottom: 3px;
	}
    
}