@charset "UTF-8";
section{
    padding-top: 110px;
    overflow-x: hidden;
    min-height: 85vh;
}
#contain{
    padding: 3% 20% 10%;
    
}
#category{
    color: rgb(16, 15, 80);
    letter-spacing: 1.5px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
#main{
    border: 2px solid rgb(16, 15, 80);
    padding: 80px 70px 40px;
}
#resultWrap{
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#resultID{
	padding: 0 20px;
}
#resultWrap li{
	list-style-type: circle;
	margin: 10px 0;
}
#bottomRow{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 4px;
}
#login, #findPW{
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(16, 15, 80);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    font-family: 'HANAMDAUM';
    cursor: pointer;
    font-size: 15px;
}
.blue{
	color: darkblue;
}

@media screen and (max-width: 1080px) {
	#contain{
    	padding: 5% 10%;
	}
	#main{
	    padding: 40px 35px;
	}
}
@media screen and (max-width: 480px) {
    #contain{
    	padding: 2.5% 5%;
	}
    #main{
    	padding: 20px 15px;
    }
    #resultWrap{
	    padding: 10px;
	}
    #resultID{
		font-size: 12px;
		padding: 0 10px;
	}
	#bottomRow{
	    margin-top: 20px;
	    gap: 4px;
	}
	#login, #findPW{
	    padding: 7px;
	    font-size: 12px;
	}
}